<div id="ticket">
	<h2><%= @ticket.title %></h2>

	<!-- what's that "simple_format" thing...?
		this method converts the line breaks entered in the description
		into <br> html tags so that the description renders in the page
		the way it was intended to
	-->
	<%= simple_format(@ticket.description) %>
	<%= link_to "Edit ticket", edit_project_ticket_path(@project,@ticket) %>
	<%= link_to "Delete Ticket", project_ticket_path(@project,@ticket), method: :delete, data: {confirm: "Are you sure you want to delete this ticket?"} %>
</div>	