<h2>Projects</h2>

<ul>

	<% @projects.each do |project| %>
		<li><%= link_to project.name, project %>
	<% end %>
</ul>

<!-- "admins_only" method is defined in "app/helpers/application_helper.rb" -->
<% admins_only  do %>
<%=  link_to "New Project", new_project_path %>
<% end %> 