// Place all the styles related to the admin/permissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "partials/variables";



div#permissions_div {
	background-color: $background-color-in-div;
}

table#permissions {

}

th {
	padding-bottom: .8em;
	padding-top: .8em;
}

th.permissions_th {
	-moz-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
}



tbody tr:hover {
	background-color:$hover-font-color;
}

tr.even {
	/* nah */
}

tr.odd {
	/* nah */
}