$primary-font-color: #E0E0E0 ;
$error-font-color: #DC143C;
$hover-font-color: #B0C4DE;
$background-color-in-div: #E0E0E0;
$font-color-in-div: #2F4F4F;
$font-size-in-div:.8em;

/* for permissions page */
$even-rows-back-color: $background-color-in-div;
$odd-rows-back-color: #F5F5F5;