// Place all the styles related to the tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "partials/variables";

#edit_ticket_link, #delete_ticket_link {
	color: $font-color-in-div;
}

#edit_ticket_link:hover,#delete_ticket_link:hover {
	color:$hover-font-color-in-div;
}

div a, div.assets a {
	color: $font-color-in-div;
}

div a:hover, div.assets a:hover {
	color: $hover-font-color-in-div;
}


textarea {
	width: 20em;
	height: 5em;
	border-radius: .7em;
	margin-left: auto;
	margin-right: auto;
}

