@import "partials/variables";


a {
	display:inline-block;
	text-decoration: none;
	color:$primary-font-color;
	padding: .8em;
}

a:visited {
	color: $primary-font-color ;
}

a:hover {
	color: $hover-font-color;
}

body {
	background: url(background.png);
	background-repeat:repeat;
	font-family: Tahoma, Geneva, sans-serif;
	color: #303030 ;
}



div label {
	color: $font-color-in-div;
	font-size: $font-size-in-div ;
}


div#error, div#error_explanation, div#error_explanation h2 {
	color:$error-font-color;
}

div#error_explanation {
	margin-bottom: 2em;
}

div {
	background-color: $background-color-in-div;
	text-align: center;
	width:50%;
	margin-left:auto;
	margin-right:auto;
	padding: 1em;
	border-radius: .5em;
	font-size: .8em;
}


.field_with_errors {
	display: inline-block;
	margin: 0em;
	padding: 0em;
	font-size: $font-size-in-div + .2em;
}

h1 {
	margin-left:auto;
	margin-right:auto;
	width: 30%;
	text-align: center;
	border-radius: .0em;
	color:$primary-font-color ;
	font-weight: 400;
}

h2 {
	color: $primary-font-color;
	font-weight: 300;
}

input {
	border-radius: .7em;
}

label {
	color: $primary-font-color;
}

nav {
	color: $primary-font-color;
}